<div class="bd-wrapper">
 <ng-container *ngFor="let row of bd.rows">
   <div class="bd-row" >
     <ng-container *ngFor="let tile of row">
       <div class="bd-tile" (click)="newHandleClick(tile)"
             [ngStyle]="{
                'background': tile.color? 'var(--white)' : 'var(--black)',
                'border': tile.style.border
             }"
       >
  <!--         <div style="text-align: center;position: absolute">-->
  <!--           rw:{{tile.position.row}} cl:{{tile.position.y }}-->
  <!--         </div>-->
         <div *ngIf="tile.holder">

           <img class="abstract-figure"
                [src]="tile.holder.image"
                [ngStyle]="{'background': selectedFigureTile === tile? 'red' : ''}" >
         </div>

       </div>
     </ng-container>
   </div>
 </ng-container>
</div>

