<div class="bd-wrapper">
 <ng-container *ngFor="let row of bd.rows">
   <div class="bd-row">
     <ng-container *ngFor="let tile of row">
       <div (click)="handleClick(tile)"
            class="bd-tile"
            [ngStyle]="{
                'background': tile.color? 'var(--white)' : 'var(--black)',
                'border': tile.style.border
             }"
       >
         <span style="position: absolute">{{tile.id}}</span>
         <div *ngIf="tile.holder">
<!--           <span style="position: absolute">{{tile.position.row}}{{tile.position.y}}</span>-->
           <img class="abstract-figure"
                [src]="tile.holder.image"
                [ngStyle]="{'background': this.getTileBackground(tile)}"
           >
         </div>
       </div>
     </ng-container>
   </div>
 </ng-container>
  <button style=" padding: 20px" (click)="engine.getMove(bd.currentTurn)">
    make engine move
  </button>
</div>



